[Desktop Entry]
Categories=Development;TextEditor;
Comment[en_US]=Editor focused on extensibility and usability
Comment=Editor focused on extensibility and usability
Exec=/usr/bin/alacritty --title=Neovim --class=Neovim -e nvim %F
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=nvim
MimeType=text/plain;
Name[en_US]=Neovim
Name=Neovim
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=nvim
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
