# [Created by task 2.6.2 11/3/2024 23:49:10]
# Taskwarrior program configuration file.
# For more documentation, see https://taskwarrior.org or try 'man task', 'man task-color',
# 'man task-sync' or 'man taskrc'

# Here is an example of entries that use the default, override and blank values
#   variable=foo   -- By specifying a value, this overrides the default
#   variable=      -- By specifying no value, this means no default
#   #variable=foo  -- By commenting out the line, or deleting it, this uses the default

# You can also refence environment variables:
#   variable=$HOME/task
#   variable=$VALUE

# Use the command 'task show' to see all defaults and overrides

# Files
# data.location=/home/federico/.task

# To use the default location of the XDG directories,
# move this configuration file from ~/.taskrc to ~/.config/task/taskrc and uncomment below

data.location=~/.local/share/task
hooks.location=~/.config/task/hooks

include ~/.wingtask_certs/taskrc

# Color theme (uncomment one to use)
#include light-16.theme
#include light-256.theme
#include dark-16.theme
#include dark-256.theme
#include dark-red-256.theme
#include dark-green-256.theme
#include dark-blue-256.theme
#include dark-violets-256.theme
#include dark-yellow-green.theme
#include dark-gray-256.theme
#include dark-gray-blue-256.theme
#include solarized-dark-256.theme
#include solarized-light-256.theme
#include no-color.theme

# Projects
urgency.user.project.Laudare.coefficient=1.5
urgency.user.project.Laudare.Data.coefficient=1.5
urgency.user.project.Composer.coefficient=2

# Define UDAs
uda.time_map.type = string
uda.time_map.label = Time Map
uda.estimated.type = duration
uda.estimated.label = Estimated Time
uda.completion_date.type = date
uda.completion_date.label = Expected Completion Date

# Adjust urgency to prioritize long tasks
urgency.uda.estimated.coefficient = 1.0   # Increase urgency for tasks with longer estimated durations

# Urgencies for each estimation value
urgency.uda.estimated.PT1H.coefficient = 1
urgency.uda.estimated.PT2H.coefficient = 2.32
urgency.uda.estimated.PT3H.coefficient = 3.67
urgency.uda.estimated.PT4H.coefficient = 4.64
urgency.uda.estimated.PT5H.coefficient = 5.39
urgency.uda.estimated.PT6H.coefficient = 6.02
urgency.uda.estimated.PT7H.coefficient = 6.56
urgency.uda.estimated.PT8H.coefficient = 7.03
urgency.uda.estimated.PT9H.coefficient = 7.45
urgency.uda.estimated.PT10H.coefficient = 7.82
urgency.uda.estimated.PT11H.coefficient = 8.16
urgency.uda.estimated.PT12H.coefficient = 8.47
urgency.uda.estimated.PT13H.coefficient = 8.75
urgency.uda.estimated.PT14H.coefficient = 9.01
urgency.uda.estimated.PT15H.coefficient = 9.25
urgency.uda.estimated.PT16H.coefficient = 9.47
urgency.uda.estimated.PT17H.coefficient = 9.68
urgency.uda.estimated.PT18H.coefficient = 9.87
urgency.uda.estimated.PT19H.coefficient = 10.05
urgency.uda.estimated.PT20H.coefficient = 10.22
urgency.uda.estimated.PT21H.coefficient = 10.38
urgency.uda.estimated.PT22H.coefficient = 10.53
urgency.uda.estimated.PT23H.coefficient = 10.67
urgency.uda.estimated.PT24H.coefficient = 10.80
urgency.uda.estimated.PT25H.coefficient = 10.93
urgency.uda.estimated.PT26H.coefficient = 11.05
urgency.uda.estimated.PT27H.coefficient = 11.16
urgency.uda.estimated.PT28H.coefficient = 11.27
urgency.uda.estimated.PT29H.coefficient = 11.37
urgency.uda.estimated.PT30H.coefficient = 11.47
urgency.uda.estimated.PT31H.coefficient = 11.56
urgency.uda.estimated.PT32H.coefficient = 11.65
urgency.uda.estimated.PT33H.coefficient = 11.73
urgency.uda.estimated.PT34H.coefficient = 11.81
urgency.uda.estimated.PT35H.coefficient = 11.89
urgency.uda.estimated.PT36H.coefficient = 11.96

# Sort tasks by urgency
report.next.sort=urgency-
report.next.columns=id,start.age,entry.age,depends,recur,urgency,project,tags,description,estimated,due,completion_date,time_map
report.next.labels=ID,Active,Age,Deps,Recur,Urgency,Project,Tags,Description,Estimated,Due,Expected,Time Map
news.version=2.6.0

confirmation=off
bulk=0
report.dash.labels=ID,Deps,P,Project,Tag,Recur,Due,Description,Ur
report.dash.columns=id,depends,priority,project,tags,recur,due.relative,description,urgency
report.dash.description=Dashboard report for shell starting.
report.dash.sort=urgency-
report.dash.filter=status:pending -WAITING limit:5

{{- if eq .chezmoi.hostname "cucchia" }}
recurrence=on
{{- else }}
recurrence=off
{{- end }}

urgency.annotations.coefficient=0
urgency.tags.coefficient=0
urgency.project.coefficient=1
urgency.due.coefficient=12

# fixing inheritance and dependencies
urgency.inherit=1
urgency.blocking.coefficient=2
