[Desktop Action calendar]
Exec=evolution -c calendar
Name=Calendar

[Desktop Action compose]
Exec=evolution mailto:
Name=Compose a Message

[Desktop Action contacts]
Exec=evolution -c contacts
Name=Contacts

[Desktop Action mail]
Exec=evolution -c mail
Name=Mail

[Desktop Action memos]
Exec=evolution -c memos
Name=Memos

[Desktop Action new-window]
Exec=evolution -c current
Name=New Window

[Desktop Action tasks]
Exec=evolution -c tasks
Name=Tasks

[Desktop Entry]
Actions=new-window;compose;contacts;calendar;mail;memos;tasks;
Categories=GNOME;GTK;Office;Email;Calendar;ContactManagement;X-Red-Hat-Base;
Comment[en_US]=Manage your email, contacts and schedule
Comment=Manage your email, contacts and schedule
Exec=kdocker -q -i /home/federico/.local/share/icons/BeautySolar/apps/scalable/evolution.svg -I /home/federico/.local/share/icons/BeautySolar/apps/scalable/evolution2.svg evolution %U
GenericName[en_US]=Groupware Suite
GenericName=Groupware Suite
Icon=evolution
Keywords=email;calendar;contact;addressbook;task;
MimeType=text/vcard;text/vcard;text/calendar;message/rfc822;application/mbox;
Name[en_US]=Evolution
Name=Evolution
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak-RenamedFrom=evolution
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-OtherBinaries=evolution-addressbook-factory;evolution-calendar-factory;evolution-source-registry;evolution-user-prompter;
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Version=3.46.x
X-GNOME-FullName=Evolution Mail and Calendar
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
